body {
  font-family: Arial;
  width: 200px;
  padding: 15px;
  background-color: #0b0f12;
}

button {
  cursor: pointer;
  background-color: #4285f4;
  color: white;
  border-radius: 10em;
  padding: 2px 8px;
  font-weight: 500;
}
#copybutton{
  background-color: green;
  padding: 2px 6px;
  align-self: center;
}

#color-info{
  display: flex;
  flex-direction: column;
}
#historyContainer {
  display: flex;
  gap: 8px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.color-box {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.colorsListing{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hidden{
  display: none !important;
}